/*
CSS 
web o pagina:
autor:
fecha:
RECORDAR:
en caso de conflictos se aplica el estilo que se define último,
o sea al final de este archivo o en la misma pagina html

Se incluyen los principales SELECTORES SIMPLES; hay más combinaciones...

*/

    *{
      box-sizing: border-box;
      padding: 0;
      margin: 0;
    }
    
    .marco {
	    display: grid;
	/*  border-style: solid;
	    border-color: red;*/
	    grid-template-columns: 250px auto;
	    grid-template-rows: auto 40px auto 40px;
	    grid-gap: 10px;
	    width: 100vw;
	    height: 100vh;
	    background-color: #8B959F;
    }
    
    .encabezado {
      border-style: solid;
      border-color: black;
      grid-column: 1 / span 2;
      grid-row: 1 / span 1;
      display: flex;
      background-color: rgba(255,0,0,0.1);
    }

    .encabezado nav {
      overflow: hidden;
      background-color: #4E81B1;
      width: 100%;
      height: auto;
    }

    .nav-encabezado a, #contador-encabezado {
      float: left;
      font-size: 16px;
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    @media screen and (max-width:600px){
      /* reparamos el estilo para pantallas estrechas */
      
      .nav-encabezado, .nav-encabezado a, .nav-encabezado>div,  {
        width:100%;
        float: none;
        display:block;
      }
            
      
    }

    .nav-lado a {
      display: block;
      font-size: 16px;
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    .nav-lado {
      background-color: #4E81B1;
      width: auto;
      height: auto;
    }

    #contador-encabezado {
      float: right;
    }

    .nav-encabezado a:hover, .nav-lado a:hover {
      background-color: #8B959F;
    }

    a:active {
      color:white;
      font-size:1.1em;
      
    }
    
    .migas {
/*      border-style: solid;
      border-color: yellow;*/
      grid-column: 1 / span 2;
      grid-row: 2 / span 1;
    }
    
    .lado {
      border-style: solid;
      border-color: black;
      grid-column: 1 / span 1;
      grid-row: 3 / span 1;
      margin-bottom: 600px;
    }
    
    .contenido {
      border-style: solid;
      border-color: black;
      background-color: #DDE2E7;
      grid-column: 2 / span 1;
      grid-row: 3 / span 1;
      overflow: auto;
      padding: 15px;
      word-wrap: break-word; /* Con esta etiqueta se adjusta el texto automaticamente al div */
    }

    main ul {
      padding-left: 25px;
    }

    main ol {
    	padding-left: 25px;
    }
    
    .pie {
      border-style: solid;
      border-color: black;
      background-color: #111;
      color: white;
      grid-column: 1 / span 2;
      grid-row: 4 / span 1;
      text-align: center;
    }

    div.desc {
      padding: 15px;
      text-align: center;
      border-top: 1px solid #ccc;
    }

    #ruta {
      display: inline;
      font-size: 18px;
      padding: 10px 16px;
      text-decoration: underline;
    }

/*

pseudoclases, asignarles estilos en este orden llamado LVHA:
   :link — :visited — :hover — :active.
   
Más selectores y documentación:
pseudo-clases: https://www.w3schools.com/css/css_pseudo_classes.asp
pseudo-elementos: https://www.w3schools.com/css/css_pseudo_elements.asp
pseudo-atributos: https://www.w3schools.com/css/css_attribute_selectors.asp
formularios: https://www.w3schools.com/css/css_form.asp
posicionamiento: https://www.w3schools.com/css/css_positioning.asp
selectores: https://www.w3schools.com/cssref/css_selectors.asp
*/

